    <section class="hero">
        <div class="row">
            <div class="large-12 columns">
                <div class="main-wrapper">
                    
                    <h1>David Hogge</h1>
                    <h2>A Front-End Web Developer based in Washington, D.C.</h2>
                    
                    <div class="row">
                        <div class="large-6 columns large-centered">
                            <div class="icon-bar six-up">
                                <a href="http://github.com/davehogge" rel="me" class="item"><i class="fi-social-github size-24"></i></a>
                                <a href="http://twitter.com/davehogge" rel="me" class="item"><i class="fi-social-twitter size-24"></i></a>
                                <a href="http://stackexchange.com/users/5124178/dave-hogge" class="item"><i class="fi-social-stack-overflow size-24"></i></a>
                                <a href="http://www.linkedin.com/in/davehogge" rel="me" class="item"><i class="fi-social-linkedin size-24"></i></a>
                                <a href="https://plus.google.com/+DaveHogge" rel="me" class="item"><i class="fi-social-google-plus size-24"></i></a>
                                <a href="http://www.facebook.com/dave.hogge" rel="me" class="item"><i class="fi-social-facebook size-24"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>